@import url("./varieablen.css");

.search-container {
  height: 25px;
  width: auto;
}

.search-input {
  margin-right: 15px;
  border-radius: 4px;
  outline: unset;
  padding: 5px;
}

.search-input:focus {
  border-bottom: 3px solid rgb(117, 200, 255);
  scale: 1.01;
}
