.card {
  margin: 1rem;
  width: 280px;
  
}
h5 h6{
 color: var(--bs-gray-dark);

}

.card:hover {
  scale: 1.01;
}

.card-id {
  padding: 15px;
  margin-bottom: 0;
  color: var(--bs-gray-dark);
}

.card-header {
  display: flex;
  justify-content: space-between;
  border: none !important;
}

.types-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.link-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 16px;
}

.mb-3 {
  width: auto;
  margin-bottom: 1rem !important;
}

.card-details-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.types-text{
  display: block;
  width: 100%;
  text-align: center;
}
.detail-p-headlin {
  width: 100px;
}
.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 !important;
  background-color: lightgrey !important;
}

.card-footer-btn {
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: gainsboro;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  padding: 0;
}
