@import url("./css/varieablen.css");
@import url("./css/base.css");

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background-color: var(--primary-bg-color);
  padding: var(--primary-pedding);
}

.header-logo-container {
  width: 200px;
  height: 70px;
}

.header-logo-container img {
  width: 100px;
}

main {
  margin: 0 auto;
  height: auto;
  width: 100%;
  background-color: rgba(228, 228, 228, 0.582)
}

.container{
   min-height: calc(100% + 170px) !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: var(--primary-bg-color);
  padding: var(--primary-pedding);
}

.footer-logo-container {
  width: 200px;
  height: 70px;
}

.footer-logo-container img {
  width: 90px;
}

